body {
  background-color: #DFE2DB;
  font-size: 1.5em;
}
.alert {
  color: red;
}

.icon-div {
  float: right;
  font-size: 1px;
  position: relative;
  top: -60px;
}

.canvas-right canvas {
  float: right;
}

.alert i {
  float: left;
  font-size: 8em;
  padding-right: 10px;
}

.attribution {
}
