body {
  background-color: #DFE2DB;
  font-size: 1.5em;
}


.first-page {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    text-align: center;
}

.alert {
  color: red;
}

.icon-div {
  float: right;
  font-size: 1px;
  position: relative;
  top: -60px;
}

.canvas-right canvas {
  float: right;
}

.alert i {
  float: left;
  font-size: 8em;
  padding-right: 10px;
}

.attribution {
}

